.header {
  margin: auto;
  width: 700px;
}

div.header h1 {
  text-align: center;
}

div.container {
  margin: auto;
  width: 700px;
}

div.container img {
  width: 50%;
  display: block;
  margin: auto;
}
div.container p {
  font-size: 1.5rem;
  text-align: center;
}
div.container a {
  text-decoration: none;
  cursor: pointer;
}
div.container a:hover {
  color: red;
}
